*{
    margin: 0;
    padding: 0;
}
/* Google fonts */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Common Style Start*/

.button {
    background-color: rgba(78, 71, 255, 1);
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
}
.color-blue {
    color: rgba(78, 71, 255, 1) ;
}
.dark-2 {
    color: rgba(37, 36, 50, 0.5);
}

/* Common Style End*/

/* Header Section Style */
.header {
    width:1440px ;
    height: 698px;
    background-image: url(Assets/Hero-bg.png);
}
.navbar {
    height: 151px;
    width:1140px ;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.nav-logo {
    font-size: 34px;
}
.nav-signup button:hover {
    background-color: #17ea2c;
    transition: 0.5s;
}

/* Banner Section */
.banner-container {
    width: 905px;
    height: 237px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 152px;
}
.banner-content {
    font-size: 65px;
    font-weight: boldss;
    padding-top: 200px;
    margin-bottom: 50px;
}
.banner-container button:hover {
    background-color: #17ea2c;
    transition: 0.5s;
    cursor: pointer;
}

/* Main Section Style */

.main-section {
     width:1140px ;
    margin: 0 159px 0 140px;
}

/* Action Part */

.action-container {
    display: flex;
    width: 1140px;
    height:330px ;
    margin: o auto;
    margin-top: 116px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 116px;
}
.action-content {
    width: 517px;
    height: 203px;
   
}
.action-content p {
 margin-bottom: 25px;
   
}
.action-h3 {
    font-size: 43px;
    font-weight: bold;
     margin-bottom: 23px;
}

.action-image-div {
    height: 325px;
    width: 400px;
    border-radius: 48px;
}
.action-image {
    height: 325px;
    width: 400px;
    border-radius: 48px;
}
.action-button button:hover {
     background-color: #17ea2c;
    transition: 0.5s;
    cursor: pointer;
}

/* User Review Part */

.productive-user-container {
    width: 1140px;
    height: 305px;
    background-color: rgba(78, 71, 255, 0.1);
    text-align: center;
    border-radius: 24px;
}
.prodictive-user-title {
    font-size: 38px;
    font-weight: bolds;
}
.user-review {
    width: 162px;
    height: 100px ;
}
.user-review h1 {
    font-size: 80px;
    font-weight: bold;
    color:rgba(78, 71, 255, 1) ;
}
.user-review p {
  color: rgba(37, 36, 50, 0.5);
}
.user-content {
    padding:50px 155px;
}
.user-review-container {
   display: flex;
   justify-content: space-between;
    padding-top: 40px;
}

/* User Opinion Section */
.user-opinion-container {
    margin-top: 140px;
}
.user-opinion-container-title {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.column-content h2,p {
    padding: 10px 0;
}
.review-container {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}
.review-column {
    width: 320px;
    height: 240px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px #d9dadd;
}

.reviewer {
    display: flex;
}
.reviewer img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    margin-right: 20px;
    padding-top: 20px;
}
.reviewer-name {
    color: rgba(37, 36, 50, 0.5);
     padding-top: 20px;
}

/* Input Field Section */
.inputField-container {
    display: flex;
    width: 100%;
    height: 625px;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(to bottom,rgba(255, 255, 255, 1), rgba(153, 153, 153, 1));
}
.inputField-title {
    font-size: 95px;
    font-weight: bold;
}
.inputField-column {
    width: 50%;
}

form input{
    display: block;
    height: 50px;
    width: 90%;
    margin:10px;
    padding: 0 20px;
    border-radius: 10px;
    border: none;
   
}
form textarea{
    display: block;
   width: 90%;
    margin:10px;
    padding: 0 20px;
    border-radius: 10px;
    border: none;
}
form button{
    display: block;
    height: 50px;
    width: 90%;
    margin-bottom: 20px;
    padding: 0 20px;
    
}
form button:hover {
     background-color: #17ea2c;
    transition: 0.5s;
    cursor: pointer;
}

form a {
    display: block;
    text-decoration: none;
    padding-left: 30px;
}
form label {
    padding-left: 20px;
   margin-top: 50px;
}

/* Footer Section style */

footer {
    width:1440px ;
    height: 698px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 530px;
    height: 220px;
    text-align: center;
}
.footer-content-title {
    font-size: 100px;
    font-weight: 'Black';
    font-family: inter;
}
.footer-nav{
    list-style-type: none;
}
.footer-nav li{
    display: inline;
    margin-right: 20px;
}
.footer-nav li:hover{
    background-color: #99c3f2;
    padding: 5px 10px;
    border-radius: 10px;
    transition: .5s;
}
.footer-nav li a{
   text-decoration: none;
}